{% extends "base-connected.twig" %}

{% block title %} Administration panel {{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        #pagination{
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Token</th>
                <th>Url</th>
                <th>Action</th>
        </thead>
        <tbody id="tableTbody">
        </tbody>
    </table>
    <div class='col-sm-6' id ='placeholderPanelAdd'>
        <table class='table'>
            <thead>
                <tr>
                    <th>token</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type='text' id='inputToken'></input></td>
                    <td><input type='text' id='inputUrl'></input></td>
                    <td><button class='btn btn-primary' id='btnAdd'>+</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6" id="pagination">
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/bower/twbs-pagination/jquery.twbsPagination.min.js"></script>
    <script src="/bower/urijs/src/URI.min.js"></script>
    <script src="/bower/bootbox.js/bootbox.js"></script>
    <script src="/js/admin_index.js"></script>
{% endblock %}