{% extends "base-connected.twig" %}

{% block title %} Administration panel {{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        #btnAdd{
            margin: 20px 0;
        }
        #pagination{
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Token</th>
                <th>Url</th>
                <th>Action</th>
        </thead>
        <tbody id="tableTbody">
        </tbody>
    </table>
    <div class="col-sm-6">
        <button id='btnAdd' class="btn btn-primary btn-block">+</button>
    </div>
    <div class="col-sm-6" id="pagination">
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/bower/twbs-pagination/jquery.twbsPagination.min.js"></script>
    <script src="/bower/urijs/src/URI.min.js"></script>
    <script src="/js/admin_index.js"></script>
{% endblock %}